.container {
  display: flex;
}

.container h1 {
  margin-bottom: 8px;
}

.container form {
  display: flex;
  flex-direction: column;
  margin-right: 112px;
  width: 240px;
}


.container form input {
  margin-bottom: 16px;
}

.container>div + div {
  letter-spacing: 0.4px;
  max-height: 80vh;
  padding: 8px;
  overflow: scroll;
}

.container>div + div>div {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}

.container>div + div button {
  margin-left: 8px;
}
